.boardGame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.card {
  margin: 5px;
  color: white;
  // height: 170px;
  width: 115px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  &.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
  .front,
  .back {
    display: block;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 1000ms;
    transition: transform ease 1000ms;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(-180deg);
  }
}

.card img {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70px;
    // height: 95px;
  }

  .card img {
    width: 65px;
  }
}

@media only screen and (max-height: 600px) {
  .card {
    width: 67px;
    // height: 95px;
  }

  .card img {
    width: 60px;
  }
}

button {
  -webkit-tap-highlight-color: transparent;
}
