.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu_input {
  background: #001237;
  font-size: 20px;
  color: white;
  border: 2px solid #0050af;
  border-radius: 5px;
}

.life {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #001237;
  border: 2px solid #0050af;
  border-radius: 5px;
  height: 60px;
  width: 80%;
}

.life div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background: #2167e3;
  border: 3px solid #99a7b7;
  border-radius: 11px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.life div p {
  font-style: italic;
  color: #efef3e;
  font-size: 23px;
}

@media only screen and (max-width: 600px) {
  .life {
    height: 40px;
  }

  .life div {
    width: 50px;
    height: 25px;
  }

  .life div p {
    font-size: 16px;
  }

  .menu_input {
    font-size: 14px;
  }
}
