.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  color: black;
  z-index: 99;
}

.modal_main {
  position: fixed;
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.9), 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #001237;
  font-size: 20px;
  color: white;
  border: 2px solid #0050af;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal_main h2 {
  font-size: x-large;
}

.modal_footer {
  display: flex;
  justify-content: space-around;
}

.modal_footer_button {
  background: #001237;
  font-size: 20px;
  color: white;
  border: 2px solid #0050af;
  border-radius: 5px;
}

.action {
  // border: 2px solid #f6bf25;
  color: #fdec08;
}
